    /*MOBILE M*/
 @media (max-width: 375px) {
        /*REDES*/
    .contenedor_redes {
        padding-top: 120px;
    }

        /*TIENDA PC*/
    .juegos_pc {
        grid-template-columns: repeat(4, 73px);
    }

         /*TIENDA PLAY*/
     .juegos_play {
        grid-template-columns: repeat(4, 73px);
    }
 }