
.nav {
    background: linear-gradient(90deg,#013c79 0%, #005fda 50%, #013c79 100%);
    background: -webkit-linear-gradient(90deg,#013c79 0%, #005fda 50%, #013c79 100%);
    background: -moz-linear-gradient(90deg,#013c79 0%, #005fda 50%, #013c79 100%);
    background-color: $color-principal;
    box-shadow: 0 0 7px 0 rgb(255, 255, 255);
    height: 100px;
    color: black;
    position: fixed;
    width: 100%;
}

.nav_container {
    display: flex;
    height: 100%;
    width: 90%;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
}

.nav_logo {
    font-size: 1.5em;
    font-weight: 900;
    a {
        color: black;
    }
}

.nav_menu {
    display: grid;
    grid-auto-flow: column;
    gap: 2em;
    align-items: center;
}

.nav_item {
    color: black;
    text-decoration: none;
    --clippy: polygon(0 0, 0 0, 0 100%, 0% 100%);
}

.nav_item::after {
    content: "";
    display: block;
    background: black;
    width: 90%;
    margin-top: 3px;
    height: 3px;
    clip-path: var(--clippy);
    transition: clip-path .5s;
}

.nav_item:hover {
    --clippy: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

.nav_label, .nav_input {
    display: none;
}

.carrito_img {
    height: 40px;
    width: 40px;
}